{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <form method="post" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Profile Info</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                <span>{{ error }}</span>
              </div>
            {% endfor %}
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                <span>{{ error }}</span>
              </div>
            {% endfor %}
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.pic.label() }}
          {{ form.pic(class="form-control-file") }}
          {% if form.pic.errors %}
            {% for error in form.pic.errors %}
              <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </fieldset>
    </form>
  </div>
{% endblock content %}
